<footer class="w3l-footer-16">
    <div class="footer-top-16 py-5">
        <div class="container pt-lg-5 pt-md-4 pt-2 pb-lg-4 pb-2">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <h3>Emlak İlan</h3>
                    <p>
                        Hayalinizdeki gayrimenkule en uygun fiyatlarla ulaşmak için bizi tercih edin.
                    </p>
                    <div class="columns-2 mt-4">
                        <ul class="social">
                            <li>
                                <a href="#facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#twitter"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#google"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-6 column ps-xl-5 mt-sm-0 mt-4">
                    <h3>Hızlı Linkler</h3>
                    <ul class="footer-gd-16">
                        <li><a href="/Default/AreasProduct/Index">İlanlarımız</a></li>              
                        <li><a href="/Default/Contact/Index/">Bize Ulaşın</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-6 column ps-xl-5 pe-lg-0 mt-lg-0 mt-4">
                    <h3>İletişim Adreslerimiz</h3>
                    <ul class="footer-contact-list">
                        <li class="">
                            <i class="fas fa-map-marker-alt"></i><span>
                                Bebek 24/A , Beşiktaş/İstanbul 
                            </span>
                        </li>
                        <li class="mt-2">
                            <i class="fas fa-phone-alt"></i><span>
                                <a href="tel:+12 2121212">
                                    +90 (212) 123 12 12
                                </a>
                            </span>
                        </li>
                    </ul>
                    <div class="footer-botm mt-3">
                        <h6>Çalışma Saatlerimiz:</h6>
                        <p class="mt-2"><span>Hafta içi</span> : 09:00 - 18:00</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 column mt-lg-0 mt-4 ps-xl-5">
                    <h3>Mailinizi yazın.</h3>
                    <form action="#" class="subscribe d-flex" method="post">
                        <input type="email" name="email" placeholder="Mail adresinizi girin" required="">
                        <button class="button-style">
                            <span class="fa fa-paper-plane"
                                  aria-hidden="true"></span>
                        </button>
                    </form>
                    <p class="mt-4">
                        E-posta listemize abone olun ve e-posta gelen kutunuzdaki güncellemeleri alın.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-section text-center py-4">
        <p class="copy-text py-1">
            2022 | Tüm hakları saklıdır. <a href="https://w3layouts.com/" target="_blank"> W3Layouts</a>
        </p>
    </div>
</footer>
