<div class="contact-left mt-5 pt-lg-5">
    <div class="w3l-header-sec text-center mb-md-5 mb-4">
        <h5 class="sub-title">Bize Ulaşın</h5>
        <h3 class="title-style">Adres Bilgilerimiz</h3>
    </div>
    <div class="cont-details">
        <div class="cont-top margin-up">
            <div class="cont-left text-center">
                <i class="fas fa-map-marked-alt"></i>
            </div>
            <div class="cont-right">
                <h6>Şirket</h6>
                <p>Bebek 24/A , Beşiktaş/İstanbul</p>
            </div>
        </div>
        <div class="cont-top margin-up">
            <div class="cont-left text-center">
                <i class="fas fa-phone"></i>
            </div>
            <div class="cont-right">
                <h6>Telefon Numaralarımız</h6>
                <p><a href="tel:+90 (212) 123 12 12">+90 (212) 123 12 12</a></p>
                <p><a href="tel:+90 (212) 123 12 13">+90 (212) 123 12 13</a></p>
            </div>
        </div>
        <div class="cont-top margin-up">
            <div class="cont-left text-center">
                <i class="fas fa-mail-bulk"></i>
            </div>
            <div class="cont-right">
                <h6>Mail Adresimiz</h6>
                <p><a href="mailto:info@realestate.com" class="mail">info@realestate.com</a></p>                
            </div>
        </div>
        <div class="cont-top margin-up">
            <div class="cont-left text-center">
                <i class="fas fa-headset"></i>
            </div>
            <div class="cont-right">
                <h6>7/24 Müşteri Desteği</h6>
                <p><a href="mailto:support@realestate.com" class="mail">support@realestate.com</a></p>
                
            </div>
        </div>
    </div>
</div>