<div class="map-iframe mt-5 pt-md-4">   
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12030.007599023678!2d29.037192334742077!3d41.07987931869526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab60281cd57d3%3A0xec7305ad1a4f7d35!2zQmViZWssIDM0MzQyIEJlxZ9pa3RhxZ8vxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1671060468517!5m2!1str!2str" width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
</div>